
/* TITULOS Y TEXTOS */

.greeting{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

/* FORMULARIO CHECKOUT */
.checkoutForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}


/* BOTON DE CHECKOUT */
.checkoutButton{
    background-color: rgb(199, 174, 142);
    color: white;
    border: 0;
    padding: 2px 6px 2px 6px;
}