
/* BOTONES AGREGAR CARRITO Y CANTIDAD */
.buttonsBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BOTONES CANTIDAD */
.counterBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
/* BOTON AGREGAR AL CARRITO */
.addButton {
    color: white;
    border: 0;
    background-color: rgb(132, 184, 132);
    border-radius: 5px;
    height: 20px;
    width: 200px;
    padding: 12px;
    display: flex;
    align-items: center;
    font-size: medium;
    text-transform: uppercase;
    justify-content: center;
    
}

/* BOTON CONTADOR */
.countButton {
    color: white;
    background-color: rgb(132, 184, 132);
    width: 23px;
    height: 23px;
    display: flex;
    padding-bottom: 2px;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 3px;

}

.contador {
    font-size: large;
}